@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forcer l’application des styles de mode clair et sombre */
html {
  background-color: white !important;
  color: black !important;
  @apply transition-colors duration-300;
}

html.dark {
  background-color: black !important;
  color: white !important;
}

html.light {
  background-color: white !important;
  color: black !important;
}
